In [1]:
import pandas as pd

In [2]:
# read in text files into dataframe
foicu_df = pd.read_csv('2022_Q1/FOICU.txt', sep = ',')
fs220_df = pd.read_csv("2022_Q1/FS220.txt", sep = ',')
fs220a_df = pd.read_csv('2022_Q1/FS220A.txt', sep = ',')
fs220b_df = pd.read_csv('2022_Q1/FS220B.txt', sep = ',')
fs220d_df = pd.read_csv('2022_Q1/FS220D.txt', sep = ',')
fs220g_df = pd.read_csv('2022_Q1/FS220G.txt', sep = ',')
fs220l_df = pd.read_csv('2022_Q1/FS220L.txt', sep = ',')
fs220m_df = pd.read_csv('2022_Q1/FS220M.txt', sep = ',')
fs220p_df = pd.read_csv('2022_Q1/FS220P.txt', sep = ',')

In [3]:
# create Q1_2022_df
Q1_2022_data = [foicu_df['CU_NUMBER'], foicu_df['CYCLE_DATE'], foicu_df['CU_NAME'], foicu_df['STATE'],
        fs220_df['ACCT_010'], fs220_df['ACCT_083'], fs220d_df['Acct_700'], fs220a_df['Acct_998'], fs220_df['ACCT_523'],
               fs220b_df['ACCT_958'], fs220a_df['ACCT_385'], fs220_df['ACCT_524'], fs220_df['ACCT_968'], fs220a_df['ACCT_370'],
               fs220a_df['ACCT_565'], fs220a_df['Acct_954'], fs220a_df['ACCT_002'], fs220l_df['ACCT_595B'],
               fs220m_df['ACCT_963C'], fs220l_df['ACCT_698C'], fs220_df['ACCT_521'], fs220b_df['ACCT_993'],
               fs220a_df['ACCT_396'], fs220_df['ACCT_522'], fs220b_df['ACCT_994'], fs220a_df['ACCT_397'],
               fs220l_df['ACCT_563A'], fs220m_df['ACCT_959A'], fs220l_df['ACCT_703A'], fs220l_df['ACCT_562A'],
               fs220m_df['ACCT_960A'], fs220l_df['ACCT_386A']]

# create headers
Q1_2022_headers = ['CU_Number', 'Cycle_Date', 'CU_Name', 'State', 'Total_Assets', 'Current_mbrs',
          'Classification', 'Net_worth_ratio', 'New_Auto_Rate', '#New_Auto', '$New_Auto', 'Used_Auto_Rate', '#Used_Auto',
                  '$Used_Auto', 'Lease_Rate', '#Lease', '$Lease', 'Other_Secured_Rate', '#Other_Secured', '$Other_Secured',
                  'CC_Rate', '#CC', '$CC', 'Other_Unsecured_Rate', '#Other_Unsecured', '$Other_Unsecured',
                  '1st_Mtg_Rate', '#1st_Mtg', '$1st_Mtg', '2nd_Mtg_Rate', '#2nd_Mtg', '$2nd_Mtg']

Q1_2022_df = pd.concat(Q1_2022_data, axis=1, keys=Q1_2022_headers)

In [4]:
Q1_2022_df.head(20)

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,3/31/2022 0:00:00,MORRIS SHEPPARD TEXARKANA,TX,11610842,1261,Well Capitalized,991,299.0,85,...,0,825.0,372,718386,0.0,0,0,0.0,0,0
1,6,3/31/2022 0:00:00,THE NEW ORLEANS FIREMEN'S,LA,247196275,27045,Well Capitalized,788,396.0,955,...,14795272,1089.0,5150,19385703,456.0,203,21209484,538.0,145,6369817
2,12,3/31/2022 0:00:00,FRANKLIN TRUST,CT,64463874,9224,Well Capitalized,780,199.0,264,...,3694230,1099.0,3836,6037052,375.0,80,4160544,375.0,48,1146697
3,13,3/31/2022 0:00:00,EFCU FINANCIAL,LA,777639035,56796,Well Capitalized,923,399.0,7522,...,8443821,600.0,4225,15981966,500.0,1220,132457563,400.0,811,31207789
4,16,3/31/2022 0:00:00,WOODMEN,NE,10481033,966,Well Capitalized,1188,449.0,30,...,137283,950.0,35,101427,386.0,14,1235482,500.0,21,552473
5,19,3/31/2022 0:00:00,NEW HAVEN TEACHERS,CT,10622627,1170,Well Capitalized,2635,485.0,24,...,0,1120.0,203,464245,0.0,0,0,0.0,0,0
6,22,3/31/2022 0:00:00,WATERBURY CONNECTICUT TEACHERS,CT,318369485,20060,Well Capitalized,1259,189.0,762,...,13803466,799.0,1364,13467257,388.0,72,12980712,399.0,2013,102630333
7,26,3/31/2022 0:00:00,FARMERS,FL,19563073,1266,Well Capitalized,987,249.0,61,...,286144,699.0,35,119120,500.0,24,1178893,0.0,0,0
8,28,3/31/2022 0:00:00,CENTRIS,NE,1062581325,121016,Well Capitalized,909,449.0,948,...,27356,774.0,18026,52961650,500.0,2169,298824205,424.0,2411,75898568
9,42,3/31/2022 0:00:00,FD COMMUNITY,CT,144714941,14884,Well Capitalized,805,333.0,973,...,3009417,1108.0,866,4177126,314.0,210,24537859,345.0,485,15568577
10,47,3/31/2022 0:00:00,FARGO PUBLIC SCHOOLS,ND,54779896,2371,Well Capitalized,1098,199.0,119,...,506900,900.0,116,606323,375.0,70,7444578,400.0,76,2612587
11,48,3/31/2022 0:00:00,EAGLE EXPRESS,MS,64806950,4113,Well Capitalized,2088,300.0,199,...,965847,1300.0,790,3577252,500.0,43,1012314,600.0,26,860593
12,51,3/31/2022 0:00:00,STATE EMPLOYEES,NY,5587845522,367103,Well Capitalized,724,189.0,41083,...,85561140,900.0,57290,209617647,450.0,11058,1149766189,250.0,7241,201450647
13,53,3/31/2022 0:00:00,MOTION,NJ,74810405,5686,Adequately Capitalized,656,205.0,61,...,2401796,860.0,284,1340412,609.0,82,13875960,435.0,88,4528044
14,60,3/31/2022 0:00:00,LEVO,SD,439072553,31623,Well Capitalized,1060,300.0,342,...,9688449,1225.0,4487,4751719,400.0,399,46781898,500.0,570,16149934
15,62,3/31/2022 0:00:00,FIRST CLASS,PA,35542219,2092,Well Capitalized,1448,324.0,52,...,367939,1400.0,130,596806,324.0,133,16987209,324.0,7,180825
16,75,3/31/2022 0:00:00,LONG ISLAND CITY POSTAL EMPLOYEES,NY,2291312,230,Well Capitalized,2553,0.0,0,...,0,1300.0,22,47344,0.0,0,0,0.0,0,0
17,77,3/31/2022 0:00:00,SERVICE FIRST,SD,224862144,18324,Well Capitalized,720,208.0,728,...,0,1241.0,819,1574271,386.0,78,8812765,579.0,118,2569042
18,79,3/31/2022 0:00:00,CAMPUS,LA,859157836,39718,Well Capitalized,874,379.0,3486,...,12473512,1800.0,4935,22045459,275.0,1187,206030629,325.0,878,34643446
19,82,3/31/2022 0:00:00,FIRST ATLANTIC,NJ,305969135,21475,Well Capitalized,888,499.0,555,...,2781818,1100.0,2996,3660089,300.0,632,61951585,424.0,673,23826320

In [5]:
# check data types
Q1_2022_df.dtypes

CU_Number                 int64
Cycle_Date               object
CU_Name                  object
State                    object
Total_Assets              int64
Current_mbrs              int64
Classification           object
Net_worth_ratio           int64
New_Auto_Rate           float64
#New_Auto                 int64
$New_Auto                 int64
Used_Auto_Rate          float64
#Used_Auto                int64
$Used_Auto                int64
Lease_Rate              float64
#Lease                    int64
$Lease                    int64
Other_Secured_Rate      float64
#Other_Secured            int64
$Other_Secured            int64
CC_Rate                 float64
#CC                       int64
$CC                       int64
Other_Unsecured_Rate    float64
#Other_Unsecured          int64
$Other_Unsecured          int64
1st_Mtg_Rate            float64
#1st_Mtg                  int64
$1st_Mtg                  int64
2nd_Mtg_Rate            float64
#2nd_Mtg                  int64
$2nd_Mtg                  int64
dtype: object

In [6]:
# format Q1_2022_df
# convert cycle date to datetime
Q1_2022_df['Cycle_Date'] = pd.to_datetime(Q1_2022_df['Cycle_Date'])
Q1_2022_df['Cycle_Date'] = Q1_2022_df['Cycle_Date'].dt.strftime('%m-%d-%Y')

# Format the columns have the comma for a thousands separator.
Q1_2022_df["Total_Assets"] = Q1_2022_df["Total_Assets"].map("${:,}".format)
Q1_2022_df["Current_mbrs"] = Q1_2022_df["Current_mbrs"].map("{:,}".format)
Q1_2022_df["#New_Auto"] = Q1_2022_df["#New_Auto"].map("{:,}".format)
Q1_2022_df["$New_Auto"] = Q1_2022_df["$New_Auto"].map("${:,}".format)
Q1_2022_df["#Used_Auto"] = Q1_2022_df["#Used_Auto"].map("{:,}".format)
Q1_2022_df["$Used_Auto"] = Q1_2022_df["$Used_Auto"].map("${:,}".format)
Q1_2022_df["#Lease"] = Q1_2022_df["#Lease"].map("{:,}".format)
Q1_2022_df["$Lease"] = Q1_2022_df["$Lease"].map("${:,}".format)
Q1_2022_df["#Other_Secured"] = Q1_2022_df["#Other_Secured"].map("{:,}".format)
Q1_2022_df["$Other_Secured"] = Q1_2022_df["$Other_Secured"].map("${:,}".format)
Q1_2022_df["#CC"] = Q1_2022_df["#CC"].map("{:,}".format)
Q1_2022_df["$CC"] = Q1_2022_df["$CC"].map("${:,}".format)
Q1_2022_df["#Other_Unsecured"] = Q1_2022_df["#Other_Unsecured"].map("{:,}".format)
Q1_2022_df["$Other_Unsecured"] = Q1_2022_df["$Other_Unsecured"].map("${:,}".format)
Q1_2022_df["#1st_Mtg"] = Q1_2022_df["#1st_Mtg"].map("{:,}".format)
Q1_2022_df["$1st_Mtg"] = Q1_2022_df["$1st_Mtg"].map("${:,}".format)
Q1_2022_df["#2nd_Mtg"] = Q1_2022_df["#2nd_Mtg"].map("{:,}".format)
Q1_2022_df["$2nd_Mtg"] = Q1_2022_df["$2nd_Mtg"].map("${:,}".format)

# format net worth ratio
Q1_2022_df['Net_worth_ratio'] = Q1_2022_df['Net_worth_ratio'].astype(float)
Q1_2022_df['Net_worth_ratio'] = Q1_2022_df['Net_worth_ratio'] / 100

# format rate columns
Q1_2022_df['New_Auto_Rate'] = Q1_2022_df['New_Auto_Rate'] / 100
Q1_2022_df['Used_Auto_Rate'] = Q1_2022_df['Used_Auto_Rate'] / 100
Q1_2022_df['Lease_Rate'] = Q1_2022_df['Lease_Rate'] / 100
Q1_2022_df['Other_Secured_Rate'] = Q1_2022_df['Other_Secured_Rate'] / 100
Q1_2022_df['CC_Rate'] = Q1_2022_df['CC_Rate'] / 100
Q1_2022_df['Other_Unsecured_Rate'] = Q1_2022_df['Other_Unsecured_Rate'] / 100
Q1_2022_df['1st_Mtg_Rate'] = Q1_2022_df['1st_Mtg_Rate'] / 100
Q1_2022_df['2nd_Mtg_Rate'] = Q1_2022_df['2nd_Mtg_Rate'] / 100

Q1_2022_df

,CU_Number,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
0,1,03-31-2022,MORRIS SHEPPARD TEXARKANA,TX,"$11,610,842","1,261",Well Capitalized,9.91,2.99,85,...,$0,8.25,372,"$718,386",0.00,0,$0,0.00,0,$0
1,6,03-31-2022,THE NEW ORLEANS FIREMEN'S,LA,"$247,196,275","27,045",Well Capitalized,7.88,3.96,955,...,"$14,795,272",10.89,"5,150","$19,385,703",4.56,203,"$21,209,484",5.38,145,"$6,369,817"
2,12,03-31-2022,FRANKLIN TRUST,CT,"$64,463,874","9,224",Well Capitalized,7.80,1.99,264,...,"$3,694,230",10.99,"3,836","$6,037,052",3.75,80,"$4,160,544",3.75,48,"$1,146,697"
3,13,03-31-2022,EFCU FINANCIAL,LA,"$777,639,035","56,796",Well Capitalized,9.23,3.99,"7,522",...,"$8,443,821",6.00,"4,225","$15,981,966",5.00,"1,220","$132,457,563",4.00,811,"$31,207,789"
4,16,03-31-2022,WOODMEN,NE,"$10,481,033",966,Well Capitalized,11.88,4.49,30,...,"$137,283",9.50,35,"$101,427",3.86,14,"$1,235,482",5.00,21,"$552,473"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5002,97107,03-31-2022,UNITED TEXAS,TX,"$395,153,921","23,347",Well Capitalized,8.50,7.65,995,...,"$6,358,797",9.53,"6,993","$4,056,156",3.66,784,"$81,429,998",4.98,"1,473","$15,870,816"
5003,97108,03-31-2022,NORTHWEST COMMUNITY,IL,"$57,803,832","3,068",Well Capitalized,11.41,3.20,"2,788",...,"$799,939",9.16,140,"$1,016,089",3.40,127,"$22,525,067",5.34,25,"$838,059"
5004,97109,03-31-2022,RIVER VALLEY,OH,"$417,794,502","27,485",Well Capitalized,10.22,2.99,"5,484",...,"$10,067,329",10.49,"1,240","$1,364,754",4.13,"1,088","$90,570,572",3.50,461,"$9,052,017"
5005,97110,03-31-2022,ROCKY MOUNTAIN,MT,"$357,627,088","23,599",Well Capitalized,8.01,3.74,"3,624",...,"$5,739,272",8.74,"1,490","$2,401,622",4.25,610,"$97,351,076",3.50,550,"$23,683,250"
5006,97111,03-31-2022,ABBEY,OH,"$131,025,041","11,192",Well Capitalized,7.40,3.95,"2,114",...,"$1,609,738",7.70,"5,218","$3,241,652",4.23,245,"$15,132,012",3.68,264,"$3,174,329"

In [7]:
# change index to CU_Number
Q1_2022_df.set_index('CU_Number')

,Cycle_Date,CU_Name,State,Total_Assets,Current_mbrs,Classification,Net_worth_ratio,New_Auto_Rate,#New_Auto,$New_Auto,...,$CC,Other_Unsecured_Rate,#Other_Unsecured,$Other_Unsecured,1st_Mtg_Rate,#1st_Mtg,$1st_Mtg,2nd_Mtg_Rate,#2nd_Mtg,$2nd_Mtg
CU_Number,,,,,,,,,,,,,,,,,,,,,
1,03-31-2022,MORRIS SHEPPARD TEXARKANA,TX,"$11,610,842","1,261",Well Capitalized,9.91,2.99,85,"$2,360,234",...,$0,8.25,372,"$718,386",0.00,0,$0,0.00,0,$0
6,03-31-2022,THE NEW ORLEANS FIREMEN'S,LA,"$247,196,275","27,045",Well Capitalized,7.88,3.96,955,"$25,420,369",...,"$14,795,272",10.89,"5,150","$19,385,703",4.56,203,"$21,209,484",5.38,145,"$6,369,817"
12,03-31-2022,FRANKLIN TRUST,CT,"$64,463,874","9,224",Well Capitalized,7.80,1.99,264,"$3,838,461",...,"$3,694,230",10.99,"3,836","$6,037,052",3.75,80,"$4,160,544",3.75,48,"$1,146,697"
13,03-31-2022,EFCU FINANCIAL,LA,"$777,639,035","56,796",Well Capitalized,9.23,3.99,"7,522","$235,703,326",...,"$8,443,821",6.00,"4,225","$15,981,966",5.00,"1,220","$132,457,563",4.00,811,"$31,207,789"
16,03-31-2022,WOODMEN,NE,"$10,481,033",966,Well Capitalized,11.88,4.49,30,"$566,196",...,"$137,283",9.50,35,"$101,427",3.86,14,"$1,235,482",5.00,21,"$552,473"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97107,03-31-2022,UNITED TEXAS,TX,"$395,153,921","23,347",Well Capitalized,8.50,7.65,995,"$21,732,184",...,"$6,358,797",9.53,"6,993","$4,056,156",3.66,784,"$81,429,998",4.98,"1,473","$15,870,816"
97108,03-31-2022,NORTHWEST COMMUNITY,IL,"$57,803,832","3,068",Well Capitalized,11.41,3.20,"2,788","$1,151,244",...,"$799,939",9.16,140,"$1,016,089",3.40,127,"$22,525,067",5.34,25,"$838,059"
97109,03-31-2022,RIVER VALLEY,OH,"$417,794,502","27,485",Well Capitalized,10.22,2.99,"5,484","$127,754,439",...,"$10,067,329",10.49,"1,240","$1,364,754",4.13,"1,088","$90,570,572",3.50,461,"$9,052,017"
97110,03-31-2022,ROCKY MOUNTAIN,MT,"$357,627,088","23,599",Well Capitalized,8.01,3.74,"3,624","$69,378,269",...,"$5,739,272",8.74,"1,490","$2,401,622",4.25,610,"$97,351,076",3.50,550,"$23,683,250"
97111,03-31-2022,ABBEY,OH,"$131,025,041","11,192",Well Capitalized,7.40,3.95,"2,114","$7,688,868",...,"$1,609,738",7.70,"5,218","$3,241,652",4.23,245,"$15,132,012",3.68,264,"$3,174,329"

In [8]:
# write df to excel
Q1_2022_df.to_excel('MSUFCU.xlsx', sheet_name='Q1_2022')